In [1]:
import pandas as pd
import numpy as np

In [2]:
data_by_artist=pd.read_csv(r"data\data_by_artist.csv")
data_by_year=pd.read_csv(r"data\data_by_year.csv")
full_music_data=pd.read_csv(r"data\full_music_data.csv")
influence_data=pd.read_csv(r"data\influence_data.csv")

In [4]:
influence_data.head()

,influencer_id,influencer_name,influencer_main_genre,influencer_active_start,follower_id,follower_name,follower_main_genre,follower_active_start
0,759491,The Exploited,Pop/Rock,1980,74,Special Duties,Pop/Rock,1980
1,25462,Tricky,Electronic,1990,335,PJ Harvey,Pop/Rock,1990
2,66915,Bob Dylan,Pop/Rock,1960,335,PJ Harvey,Pop/Rock,1990
3,71209,Leonard Cohen,Pop/Rock,1950,335,PJ Harvey,Pop/Rock,1990
4,91438,The Gun Club,Pop/Rock,1980,335,PJ Harvey,Pop/Rock,1990

In [5]:
# get old and new id relation
allid=set()
for index,row in influence_data.iterrows():#gain small to large id, index means index in the begining
    allid.add(row['influencer_id'])
    allid.add(row['follower_id'])
allid=list(allid)
allid.sort()
old2newdict={}#gain old id to new id dict
for i in range(len(allid)):
    old2newdict[allid[i]]=i
sorted_influence_data=influence_data
sorted_influence_data.insert(0,'influencer_id_new','')
sorted_influence_data.insert(1,'follower_id_new','')
for index,row in sorted_influence_data.iterrows():
    sorted_influence_data.iloc[index,0]=old2newdict[row['influencer_id']]
    sorted_influence_data.iloc[index,1]=old2newdict[row['follower_id']]

In [10]:
sorted_influence_data.to_csv(r'datanew/sorted_influence_data1_1.csv',index=False)
sorted_influence_data.head()

,influencer_id_new,follower_id_new,influencer_id,influencer_name,influencer_main_genre,influencer_active_start,follower_id,follower_name,follower_main_genre,follower_active_start
0,4010,0,759491,The Exploited,Pop/Rock,1980,74,Special Duties,Pop/Rock,1980
1,219,1,25462,Tricky,Electronic,1990,335,PJ Harvey,Pop/Rock,1990
2,559,1,66915,Bob Dylan,Pop/Rock,1960,335,PJ Harvey,Pop/Rock,1990
3,590,1,71209,Leonard Cohen,Pop/Rock,1950,335,PJ Harvey,Pop/Rock,1990
4,762,1,91438,The Gun Club,Pop/Rock,1980,335,PJ Harvey,Pop/Rock,1990

In [12]:
#sorted by influencer id
newid_sorted_influence_data=sorted_influence_data.sort_values(by='influencer_id_new')
newid_sorted_influence_data.to_csv(r'datanew/newid_sorted_influence_data1_2.csv',index=False)
newid_sorted_influence_data.head()

In [60]:
old_to_new=pd.DataFrame([old2newdict])
old_to_new.to_csv(r'datanew/old_to_new1_3.csv',index=False)

In [13]:
#Adjacency matrix
adj_matrix= np.zeros((len(old2newdict),len(old2newdict)))
for index,row in sorted_influence_data.iterrows():
    adj_matrix[row['influencer_id_new'],row['follower_id_new']]=1

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [62]:
adj_matrix_df=pd.DataFrame(adj_matrix,columns=[i for i in range(np.size(adj_matrix,0))])
adj_matrix_df.to_csv(r'datanew/adjacency_matrix1_5.csv',index=True)

In [14]:
#Adjacency list
adj_list=[]
for i in range(len(old2newdict)):
    adj_list.append([])
for index,row in sorted_influence_data.iterrows():
    adj_list[row['influencer_id_new']].append(row['follower_id_new'])

In [69]:
adj_list_df=pd.DataFrame(adj_list,columns=None)
adj_list_df.to_csv(r'datanew/adjacency_list1_6.csv',index=True,header=None,columns=None)
adj_list_df.head()

,0,1,2,3,4,5,6,7,8,9,...,605,606,607,608,609,610,611,612,613,614
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,81.0,226.0,787.0,832.0,1147.0,1711.0,2532.0,2597.0,3389.0,3747.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,763.0,2329.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
artist_influenct_list=[]
#the new id
for i in range(len(adj_list)):
    artist_influenct_list.append([i])
#number of influence people
for i in range(len(adj_list)):
    artist_influenct_list[i].append(len(adj_list[i]))
#number of influence year
    yearinfluence=set()
    for j in range(len(adj_list[i])):
        jyear=newid_sorted_influence_data.loc[newid_sorted_influence_data['follower_id_new']==adj_list[i][j],['follower_active_start']].iloc[0]
        yearinfluence.add(int(jyear))
    year=len(yearinfluence)
    artist_influenct_list[i].append(year)

In [50]:
#number of influence genre
for i in range(len(adj_list)):
    genreinfluence=set()
    for j in range(len(adj_list[i])):
        #binsearch
        jgenre=''
        high=sorted_influence_data.shape[0]-1
        low=0
        while(high>=low):
            middle=(high+low)//2
            idxid=int(sorted_influence_data.iloc[[middle],[1]].values[0])
            if idxid==adj_list[i][j]:
                jgenre=str(sorted_influence_data.iloc[[middle],[8]].values[0])
                break
            elif idxid>adj_list[i][j]:
                high=middle-1
            else:
                low=middle+1
        if jgenre=='':
            print("some artist genre not found")
        genreinfluence.add(jgenre)
    genre=len(genreinfluence)
    artist_influenct_list[i].append(genre)

In [59]:
artist_influence=pd.DataFrame(artist_influenct_list,columns=['artist_newid','influence_people','influence_decade','influence_genre'])
#insert a column for artist_id
new2oldict={}
for key,val in old2newdict.items():
    new2oldict[val]=key
artist_influence.insert(0,'artist_id','')
for idx,row in artist_influence.iterrows():
    artist_influence.iloc[idx,0]=new2oldict[row['artist_newid']]
artist_influence.to_csv(r'datanew/artist_influence1_4.csv',index=False)
artist_influence.head()

  artist_id  artist_newid  influence_people  influence_decade  influence_genre
0        74             0                 0                 0                0
1       335             1                22                 3                1
2       441             2                 2                 1                1
3       589             3                 0                 0                0
4      1097             4                 1                 1                1